In [ ]:
import pandas as pd
import pymongo
import matplotlib.pyplot as plt

1. Collegarsi al proprio database (indicare sommariamente la stringa di connessione) e scaricare in un
dataframe la collection chiamata “comuni_italiani”.

In [ ]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.people
df = pd.DataFrame.from_records(db.comuni_italiani.find())
df

                           _id  ... Ripartizione geografica
0     619f9ec67727bc651542bb9f  ...              Nord-ovest
1     619f9ec67727bc651542bbad  ...              Nord-ovest
2     619f9ec67727bc651542bbc5  ...              Nord-ovest
3     619f9ec67727bc651542bbd4  ...              Nord-ovest
4     619f9ec67727bc651542bbdd  ...              Nord-ovest
...                        ...  ...                     ...
7902  619f9ec67727bc651542da67  ...                   Isole
7903  619f9ec67727bc651542da6d  ...                   Isole
7904  619fa3557727bc651542da80  ...              Nord-ovest
7905  619fa3c57727bc651542da81  ...                Nord-est
7906  619fa3e77727bc651542da82  ...                   Isole

[7907 rows x 5 columns]

2. Eliminare la colonna ‘_id’ e rinominare le altre colonne in modo che sia più semplice utilizzarle.
Chiamarle ‘nome’, ‘provincia’, ‘regione’ e ‘area’

In [ ]:
df.drop(columns=['_id'], inplace=True)
df.rename(columns={"Denominazione in italiano":"nome","Provincia":"provincia","Denominazione Regione":"regione","Ripartizione geografica":"area"}, inplace=True)
df

               nome     provincia                regione        area
0             Agliè        Torino               Piemonte  Nord-ovest
1         Balangero        Torino               Piemonte  Nord-ovest
2           Bruzolo        Torino               Piemonte  Nord-ovest
3            Caprie        Torino               Piemonte  Nord-ovest
4     Castagneto Po        Torino               Piemonte  Nord-ovest
...             ...           ...                    ...         ...
7902        Siliqua  Sud Sardegna               Sardegna       Isole
7903      Tratalias  Sud Sardegna               Sardegna       Isole
7904            NaN        Torino               Piemonte  Nord-ovest
7905            NaN       Gorizia  Friuli-Venezia Giulia    Nord-est
7906            NaN     Agrigento                Sicilia       Isole

[7907 rows x 4 columns]

3. Scrivere un breve programma per controllare se ci sono comuni che non hanno il nome. Se ci sono
visualizzare il messaggio “Ci sono &lt;n&gt; comuni senza nome” ed eliminarli. Se non ci sono, visualizzare il
messaggio “Tutti i comuni hanno il proprio nome”

In [ ]:
mancanti = df.isnull().sum(axis=0)['nome']
if mancanti == 0:
  print("Tutti i comuni hanno il proprio nome.")
else:
  print("Ci sono ", mancanti, " comuni senza nomi")
  df.dropna(subset=["nome"], inplace=True)
df

4. Creare un dataframe contenente il numero di comuni per ogni ripartizione geografica. La colonna del
conteggio deve chiamarsi &#39;totale&#39; e nel dataframe non devono essere presenti altre colonne

In [ ]:
df1 = df.groupby('area').count()[['nome']]
df1.rename(columns={"nome":"totale"}, inplace=True)
df1

5. Visualizzare un grafico a torta a partire dai dati presenti nel dataframe precedente. Salvare il grafico in
un file png.

In [ ]:
fig,ax=plt.subplots()
plt.pie(df1, autopct=lambda p : ' ({:,.0f}%){:.0f} '.format(p,p * sum(df1['totale'])/100))
plt.show()

6. Creare un dataframe contenente solo le colonne con il nome delle regioni e il nome delle province.
Eliminare i duplicati e creare un dataframe contenente il numero di province per ogni regione. Il
risultato deve essere il seguente:

In [ ]:
df3 = df.filter(items=['regione','provincia'])
df3 = df3.drop_duplicates()
df3.groupby('regione').count()['provincia']

regione
Abruzzo                          4
Basilicata                       2
Calabria                         5
Campania                         5
Emilia-Romagna                   9
Friuli-Venezia Giulia            4
Lazio                            5
Liguria                          4
Lombardia                       12
Marche                           5
Molise                           2
Piemonte                         8
Puglia                           6
Sardegna                         5
Sicilia                          9
Toscana                         10
Trentino-Alto Adige/Südtirol     2
Umbria                           2
Valle d'Aosta/Vallée d'Aoste     1
Veneto                           7
Name: provincia, dtype: int64