In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import pymongo

1. visualizzare i dati recuperandoli dal proprio database

In [ ]:
client = pymongo.MongoClient("mongodb://Loi:IIeee1mm@cluster0-shard-00-00.ujobt.mongodb.net:27017,cluster0-shard-00-01.ujobt.mongodb.net:27017,cluster0-shard-00-02.ujobt.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-qtdhit-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.dbTest

In [ ]:
whatsapp = db.whatsapp
whatsapp

Collection(Database(MongoClient(host=['cluster0-shard-00-02.ujobt.mongodb.net:27017', 'cluster0-shard-00-00.ujobt.mongodb.net:27017', 'cluster0-shard-00-01.ujobt.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='atlas-qtdhit-shard-0', authsource='admin', retrywrites=True, w='majority'), 'dbTest'), 'whatsapp')

In [ ]:
df = pd.DataFrame.from_records(db.whatsapp.find())
df

                          _id   user_id  ...  has_links                 full_date
0    61976c12a5214f486d99cf5e  9a0f4@kp  ...      False  2021-11-10T20:09:29.209Z
1    61976c12a5214f486d99cf5f  f6627@kp  ...      False  2021-11-10T20:13:24.176Z
2    61976c12a5214f486d99cf60  f6627@kp  ...      False  2021-11-10T20:13:36.119Z
3    61976c12a5214f486d99cf61  f6627@kp  ...      False  2021-11-10T20:13:49.332Z
4    61976c12a5214f486d99cf62  f9a56@kp  ...      False  2021-11-10T20:17:00.923Z
..                        ...       ...  ...        ...                       ...
213  61976c12a5214f486d99d033  f6627@kp  ...      False  2021-11-16T07:09:05.402Z
214  61976c12a5214f486d99d034  9609a@kp  ...      False  2021-11-16T07:09:33.219Z
215  61976c12a5214f486d99d035  f9a70@kp  ...      False  2021-11-16T19:46:42.982Z
216  61976c12a5214f486d99d036  f6627@kp  ...      False  2021-11-16T19:58:27.852Z
217  61976c12a5214f486d99d037  9a0f4@kp  ...      False  2021-11-16T20:01:04.148Z

[218 rows x 7 columns]

In [ ]:
df[["date","time"]] = df["full_date"].str.split("T").tolist()
df

                          _id   user_id  ...        date           time
0    61976c12a5214f486d99cf5e  9a0f4@kp  ...  2021-11-10  20:09:29.209Z
1    61976c12a5214f486d99cf5f  f6627@kp  ...  2021-11-10  20:13:24.176Z
2    61976c12a5214f486d99cf60  f6627@kp  ...  2021-11-10  20:13:36.119Z
3    61976c12a5214f486d99cf61  f6627@kp  ...  2021-11-10  20:13:49.332Z
4    61976c12a5214f486d99cf62  f9a56@kp  ...  2021-11-10  20:17:00.923Z
..                        ...       ...  ...         ...            ...
213  61976c12a5214f486d99d033  f6627@kp  ...  2021-11-16  07:09:05.402Z
214  61976c12a5214f486d99d034  9609a@kp  ...  2021-11-16  07:09:33.219Z
215  61976c12a5214f486d99d035  f9a70@kp  ...  2021-11-16  19:46:42.982Z
216  61976c12a5214f486d99d036  f6627@kp  ...  2021-11-16  19:58:27.852Z
217  61976c12a5214f486d99d037  9a0f4@kp  ...  2021-11-16  20:01:04.148Z

[218 rows x 9 columns]

In [ ]:
df["time"] = df["time"].str.replace("Z","")
df

                          _id   user_id  ...        date          time
0    61976c12a5214f486d99cf5e  9a0f4@kp  ...  2021-11-10  20:09:29.209
1    61976c12a5214f486d99cf5f  f6627@kp  ...  2021-11-10  20:13:24.176
2    61976c12a5214f486d99cf60  f6627@kp  ...  2021-11-10  20:13:36.119
3    61976c12a5214f486d99cf61  f6627@kp  ...  2021-11-10  20:13:49.332
4    61976c12a5214f486d99cf62  f9a56@kp  ...  2021-11-10  20:17:00.923
..                        ...       ...  ...         ...           ...
213  61976c12a5214f486d99d033  f6627@kp  ...  2021-11-16  07:09:05.402
214  61976c12a5214f486d99d034  9609a@kp  ...  2021-11-16  07:09:33.219
215  61976c12a5214f486d99d035  f9a70@kp  ...  2021-11-16  19:46:42.982
216  61976c12a5214f486d99d036  f6627@kp  ...  2021-11-16  19:58:27.852
217  61976c12a5214f486d99d037  9a0f4@kp  ...  2021-11-16  20:01:04.148

[218 rows x 9 columns]

 2. visualizzare il numero di messaggi inviati in una certa data inserita dall'utente. Se i messaggi sono superiori a 50 visualizzare il messaggio: "Nel giorno <data> sono stati inviati ben <numeroMessaggi>". Se invece ne sono stati inviati di meno, visualizzare il messaggio  "Nel giorno <data> sono stati inviati solo <numeroMessaggi>". fare in modo che il programma continui a chiedere all'utente una data fino a quando l'utente non inserisce una data non presente nel dataframe.**testo in grassetto**

In [ ]:
numero = 1
while numero > 0:
  data = input("inserisci data: ")
  numero = df[df["date"]==data].count()["_id"]
  if numero > 50:
    print("Nel giorno ", data, " sono stati inviati ben ", str(numero))
  else:
    print("Nel giorno ", data, " sono stati inviati solo ",str(numero))

inserisci data: 2021-11-11
Nel giorno  2021-11-11  sono stati inviati solo  34
inserisci data: 2021-09-09
Nel giorno  2021-09-09  sono stati inviati solo  0

3. visualizzare il giorno in cui sono stato inviati piÃ¹ messaggi

In [ ]:
df.groupby('date').count().max()["_id"]

4. visualizzare un grafico a barre verticali che visualizzi il numero di messaggi inviati nelle varie giornate

In [ ]:
df.groupby('date').count()
for index, row in df2.iterrows():
  if row["_id"] > 50:
    print("nel giorno "+index+" sono stati inviati ben "+str(row["_id"])+" messaggi")
  else:
    print("nel giorno "+index+" sono stati inviati solo "+str(row["_id"])+" messaggi")