In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import pymongo

In [ ]:
client = pymongo.MongoClient(
"mongodb://Loi:IIeee1mm@cluster0-shard-00-00.ujobt.mongodb.net:27017,cluster0-shard-00-01.ujobt.mongodb.net:27017,cluster0-shard-00-02.ujobt.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-qtdhit-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.Loi

In [ ]:
df=pd.DataFrame(list(db.redditi.find()))
df

,_id,,Anno di imposta,Codice catastale,Codice Istat Comune,Denominazione Comune,Sigla Provincia,Regione,Codice Istat Regione,Numero contribuenti,...,Reddito complessivo da 26000 a 55000 euro - Frequenza,Reddito complessivo da 26000 a 55000 euro - Ammontare in euro,Reddito complessivo da 55000 a 75000 euro - Frequenza,Reddito complessivo da 55000 a 75000 euro - Ammontare in euro,Reddito complessivo da 75000 a 120000 euro - Frequenza,Reddito complessivo da 75000 a 120000 euro - Ammontare in euro,Reddito complessivo oltre 120000 euro - Frequenza,Reddito complessivo oltre 120000 euro - Ammontare in euro,Reddito complessivo minore o uguale a zero euro - Frequenza,Reddito complessivo minore o uguale a zero euro - Ammontare in euro
0,628b6bec3cfb83df8986262d,0,2020,A001,28001,ABANO TERME,PD,Veneto,5,14831,...,3268.0,114839495.0,413.0,26106754.0,400.0,37267762.0,177.0,35077122.0,NaN,NaN
1,628b6bec3cfb83df8986262e,1,2020,A004,98001,ABBADIA CERRETO,LO,Lombardia,3,208,...,41.0,1302555.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,628b6bec3cfb83df8986262f,2,2020,A005,97001,ABBADIA LARIANA,LC,Lombardia,3,2451,...,656.0,22609959.0,78.0,4903386.0,48.0,4323860.0,31.0,5299024.0,0.0,0.0
3,628b6bec3cfb83df89862630,3,2020,A006,52001,ABBADIA SAN SALVATORE,SI,Toscana,9,4855,...,754.0,25651776.0,69.0,4391549.0,33.0,3001230.0,13.0,2879460.0,0.0,0.0
4,628b6bec3cfb83df89862631,4,2020,A007,95001,ABBASANTA,OR,Sardegna,20,1728,...,430.0,14325272.0,26.0,1655926.0,13.0,1172342.0,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7899,628b6bf93cfb83df89864508,7899,2020,M428,75098,PRESICCE-ACQUARICA,LE,Puglia,16,6251,...,580.0,19690477.0,31.0,1911397.0,25.0,2212573.0,15.0,3447739.0,0.0,0.0
7900,628b6bf93cfb83df89864509,7900,2020,M429,22252,BORGO D'ANAUNIA,TN,Trentino Alto Adige(P.A.Trento),4,2050,...,498.0,17366505.0,35.0,2265069.0,21.0,1848437.0,8.0,1959769.0,NaN,NaN
7901,628b6bf93cfb83df8986450a,7901,2020,M430,22253,NOVELLA,TN,Trentino Alto Adige(P.A.Trento),4,3579,...,667.0,22868038.0,40.0,2490656.0,31.0,2852464.0,10.0,1876163.0,NaN,NaN
7902,628b6bf93cfb83df8986450b,7902,2020,M431,22254,VILLE DI FIEMME,TN,Trentino Alto Adige(P.A.Trento),4,2102,...,497.0,17515916.0,47.0,2946010.0,21.0,2064994.0,20.0,3869894.0,NaN,NaN
7903,628b6bf93cfb83df8986450c,7903,2020,0,0,0,0,Mancante/errata,0,2790,...,47.0,1796471.0,10.0,682892.0,17.0,1542000.0,17.0,12200819.0,0.0,0.0

1. il numero di comuni presenti nel dataset

In [ ]:
result=db.redditi.aggregate([
   {"$group" : { "_id" : "comuni", "count" : {"$sum" : 1}}}
])
df2=pd.DataFrame(list(result))
df2

      _id  count
0  comuni   7904

2. i nomi dei comuni che si trovano nella provincia di Milano. Ordinare in ordine alfabetico

In [ ]:
result = db.redditi.find({},{"Sigla Provincia" : "MI", "Denominazione Comune" : 1}).sort("Denominazione Comune")  
df2=pd.DataFrame(list(result))
df2

                           _id   Denominazione Comune Sigla Provincia
0     628b6bf93cfb83df8986450c                      0              MI
1     628b6bec3cfb83df8986262d            ABANO TERME              MI
2     628b6bec3cfb83df8986262e        ABBADIA CERRETO              MI
3     628b6bec3cfb83df8986262f        ABBADIA LARIANA              MI
4     628b6bec3cfb83df89862630  ABBADIA SAN SALVATORE              MI
...                        ...                    ...             ...
7899  628b6bf93cfb83df89864455                 ZUGLIO              MI
7900  628b6bf93cfb83df89864456               ZUMAGLIA              MI
7901  628b6bf93cfb83df89864457                ZUMPANO              MI
7902  628b6bf93cfb83df89864458                ZUNGOLI              MI
7903  628b6bf93cfb83df89864459                 ZUNGRI              MI

[7904 rows x 3 columns]

3. la somma dei redditi della colonna "Reddito da lavoro
dipendente e assimilati - Ammontare in euro" dei comuni che si trovano nella provincia di Milano

In [ ]:
result = db.redditi.aggregate([
                                {"$match" : {"Sigla Provincia" : "MI"}},
                                {"$group" : {"_id" : "Reddito da lavoro dipendente e assimilati - Ammontare in euro" ,"total" : {"$sum" : "$Reddito da lavoro dipendente e assimilati - Ammontare in euro"}}}
    ])
df2=pd.DataFrame(list(result))
df2

                                                 _id         total
0  Reddito da lavoro dipendente e assimilati - Am...  3.851755e+10

4. il reddito medio per contribuente dei comuni della provincia di Milano

In [ ]:
result = db.redditi.aggregate([
                                {"$match" : {"Sigla Provincia" : "MI"}},
                                {"$group" : {"_id" : "Reddito da lavoro dipendente e assimilati - Ammontare in euro" ,"total" : {"$avg" : "$Reddito da lavoro dipendente e assimilati - Ammontare in euro"}}}
    ])
df2=pd.DataFrame(list(result))
df2

                                                 _id         total
0  Reddito da lavoro dipendente e assimilati - Am...  2.896056e+08

5. il nome dei comuni di cui non si conosce il dato "Reddito complessivo
da 55000 a 75000 euro - Frequenza". Ordinare in ordine alfabetico

In [ ]:
result = db.redditi.find(( { "Reddito complessivo da 55000 a 75000 euro - Frequenza": None }),{ "Denominazione Comune" : 1}).sort("Denominazione Comune")  
df2=pd.DataFrame(list(result))
df2

                          _id Denominazione Comune
0    628b6bec3cfb83df8986262e      ABBADIA CERRETO
1    628b6bec3cfb83df89862632           ABBATEGGIO
2    628b6bec3cfb83df89862634              ABRIOLA
3    628b6bec3cfb83df89862637             ACCEGLIO
4    628b6bec3cfb83df8986263a             ACCUMOLI
..                        ...                  ...
939  628b6bf93cfb83df8986443e             ZERFALIU
940  628b6bf93cfb83df8986443f                 ZERI
941  628b6bf93cfb83df8986444f     ZOPPE' DI CADORE
942  628b6bf93cfb83df89864453           ZUCCARELLO
943  628b6bf93cfb83df89864459               ZUNGRI

[944 rows x 2 columns]

6. i primi 10 comuni con il reddito più alto

In [ ]:
result = db.redditi.find().sort("Reddito da lavoro dipendente e assimilati - Ammontare in euro").limit(10)
df2=pd.DataFrame(list(result))
df2

,_id,,Anno di imposta,Codice catastale,Codice Istat Comune,Denominazione Comune,Sigla Provincia,Regione,Codice Istat Regione,Numero contribuenti,...,Reddito complessivo da 55000 a 75000 euro - Frequenza,Reddito complessivo da 55000 a 75000 euro - Ammontare in euro,Reddito complessivo da 75000 a 120000 euro - Frequenza,Reddito complessivo da 75000 a 120000 euro - Ammontare in euro,Reddito complessivo oltre 120000 euro - Frequenza,Reddito complessivo oltre 120000 euro - Ammontare in euro,Reddito complessivo da 26000 a 55000 euro - Frequenza,Reddito complessivo da 26000 a 55000 euro - Ammontare in euro,Reddito da partecipazione (comprensivo dei valori nulli) - Frequenza,Reddito da partecipazione (comprensivo dei valori nulli) - Ammontare in euro
0,628b6bef3cfb83df89862cc5,1688,2020,C205,4053,CASTELMAGNO,CN,Piemonte,1,43,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,628b6bf73cfb83df89863bcc,5535,2020,H270,1212,RIBORDONE,TO,Piemonte,1,45,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,180711.0,NaN,NaN
2,628b6bf73cfb83df89863bc3,5526,2020,H259,13233,VAL REZZO,CO,Lombardia,3,75,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,209884.0,NaN,NaN
3,628b6bf53cfb83df89863752,4389,2020,F758,97055,MORTERONE,LC,Lombardia,3,26,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,628b6bf33cfb83df898632f8,3275,2020,E301,1121,INGRIA,TO,Piemonte,1,31,...,NaN,NaN,0.0,0.0,0.0,0.0,4.0,140478.0,0.0,0.0
5,628b6bef3cfb83df89862d55,1832,2020,C381,13062,CAVARGNA,CO,Lombardia,3,100,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
6,628b6bec3cfb83df898629b9,908,2020,B175,4031,BRIGA ALTA,CN,Piemonte,1,32,...,0.0,0.0,NaN,NaN,0.0,0.0,7.0,222637.0,6.0,99446.0
7,628b6bf13cfb83df8986303e,2577,2020,D401,4083,ELVA,CN,Piemonte,1,69,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,230739.0,12.0,108809.0
8,628b6bf53cfb83df89863833,4614,2020,G048,5081,OLMO GENTILE,AT,Piemonte,1,57,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,216312.0,4.0,42524.0
9,628b6bf53cfb83df898635fd,4048,2020,F329,4127,MONASTEROLO CASOTTO,CN,Piemonte,1,69,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,257321.0,7.0,40524.0

7. il comune (o i comuni) con il reddito più alto

In [ ]:
result = db.redditi.aggregate([
    { "$group": {
        "_id": "",
        "maxComune": {
            "$max": "$Reddito da lavoro dipendente e assimilati - Ammontare in euro"
        },
        "comune_data": {
            "$push": {
                "Comune": "$Denominazione Comune",
                "reddito": "$Reddito da lavoro dipendente e assimilati - Ammontare in euro",
                
            }
        }
       }     
    },
    {"$unwind" : "$comune_data"},
    {"$match": {"$expr": {"$eq": [ "$comune_data.reddito","$maxComune"]}}}])
    
df2=pd.DataFrame(list(result))
df2

  _id     maxComune                                   comune_data
0      2.712152e+10  {'Comune': 'ROMA', 'reddito': 27121517813.0}

8. il reddito da lavoro dipendente o assimilati in euro complessivo di ogni regione. Ordinare in ordine decrescente

In [ ]:
result = db.redditi.aggregate([{"$group" :{"_id": "$Regione", "summed": { "$sum":  "$Reddito da lavoro dipendente e assimilati - Ammontare in euro"} }}
])
df2=pd.DataFrame(list(result))
df2

                                 _id        summed
0                    Mancante/errata  9.504369e+06
1                      Valle d'Aosta  1.058888e+09
2                           Calabria  8.874571e+09
3                             Umbria  6.320369e+09
4                          Lombardia  1.005774e+11
5                             Puglia  2.169407e+10
6                            Liguria  1.199836e+10
7                            Toscana  2.942192e+10
8                         Basilicata  3.253521e+09
9                            Abruzzo  8.630695e+09
10                            Molise  1.694020e+09
11                    Emilia Romagna  4.200529e+10
12                            Veneto  4.378034e+10
13             Friuli Venezia Giulia  1.085914e+10
14                           Sicilia  2.429044e+10
15                          Campania  2.923403e+10
16  Trentino Alto Adige(P.A.Bolzano)  6.054513e+09
17                            Marche  1.134135e+10
18   Trentino Alto Adige(P.A.Trento)  5.046227e+09
19                             Lazio  4.765275e+10
20                          Piemonte  3.590330e+10
21                          Sardegna  9.634830e+09

9. le regioni che producono redditi per più di 100.000.000.000

In [ ]:
result = db.Redditi.find({"Reddito da lavoro dipendente e assimilati - Ammontare in euro":{"$gt":100000000000}})
df2=pd.DataFrame(list(result))
df2

Empty DataFrame
Columns: []
Index: []

10. l'elenco dei comuni che hanno la parola acqua nel nome

In [ ]:
result = db.redditi.find({"Denominazione Comune":{"$regex":"acqua"}})
df2=pd.DataFrame(list(result))
df2

Empty DataFrame
Columns: []
Index: []

11. il reddito medio delle province della Lombardia

In [ ]:
result = db.redditi.aggregate([{"$group" :{"_id": "$Regione", "avgPrice": { "$avg":  "$Reddito da lavoro dipendente e assimilati - Ammontare in euro"} }}
])
df2=pd.DataFrame(list(result))
df2

                                 _id      avgPrice
0                             Puglia  8.441271e+07
1                          Lombardia  6.678445e+07
2                             Umbria  6.869966e+07
3    Trentino Alto Adige(P.A.Trento)  3.039896e+07
4                    Mancante/errata  9.504369e+06
5                           Calabria  2.196676e+07
6                      Valle d'Aosta  1.430930e+07
7              Friuli Venezia Giulia  5.050761e+07
8                             Veneto  7.776259e+07
9                            Liguria  5.127503e+07
10                           Abruzzo  2.829736e+07
11                           Toscana  1.077726e+08
12                        Basilicata  2.483604e+07
13  Trentino Alto Adige(P.A.Bolzano)  5.219408e+07
14                          Campania  5.315278e+07
15                            Molise  1.245603e+07
16                    Emilia Romagna  1.272888e+08
17                           Sicilia  6.228317e+07
18                          Sardegna  2.555658e+07
19                          Piemonte  3.040076e+07
20                            Marche  5.040600e+07
21                             Lazio  1.260655e+08

12. il numero totale di contribuenti

In [ ]:
result = db.redditi.aggregate([{"$group" :{"_id": "--->", "contribuenti": { "$sum":  "$Numero contribuenti"}}}])
df2=pd.DataFrame(list(result))
df2

    _id  contribuenti
0  --->      41180529